<button class="btn btn-success">NewRecipe</button>
<hr />
<a href="" class="list-group-item" *ngFor="let eachRecipe of recipes">
  <h1 class="list-group-item-heading">
    {{ eachRecipe.name }}
  </h1>
  <h3 class="list-group-item-text">
    <app-recipe-detail-feature></app-recipe-detail-feature>
    {{ eachRecipe.description }}
  </h3>
  <span>
    <img
      class="img-responsive"
      [src]="eachRecipe.imagePath"
      alt="{{ eachRecipe.name }}"
      style="max-height: 50px;"
    />
  </span>
</a>
