<!-- header container entire page column -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-header (chosenFeature)="onRender($event)"></app-header>
    </div>
  </div>
</div>

<!-- content container split columns -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-recipe-book *ngIf="loadThisFeature === 'recipe'"></app-recipe-book>
      <app-shopping-list
        *ngIf="loadThisFeature !== 'recipe'"
      ></app-shopping-list>
    </div>
  </div>
</div>
